<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eumelseite</title>
    <script src="../routes/eumelseite.js"></script>
</head>

<body>
    <div style="border: 1px solid">
        <p>Anzahl Matches:</p>
        <p></p>
    </div>
    <div style="border: 1px solid">
        <p>Kda:</p>
        <p></p>
    </div>
    <div style="border: 1px solid">
        <p>Gold per minute:</p>
        <p></p>
    </div>
    <div style="border: 1px solid">
        <p>Damage per minute:</p>
        <p></p>
    </div>
    <div style="border: 1px solid">
        <p>CS:</p>
        <p></p>
</body>
</html>